@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="gym_contenido">
    <div class="gym_contenido_logeo_2">
        <div class="gym_zona_logeo">
            <div class="gym_titulo_logeo">BIENVENIDO A IoT</div>
        <div>
            <p></p>
        <div class="gym_bienvenido_centro">
	       En la actualidad los sistemas de autogeneración a partir de fuentes renovables de energía, en especial los sistemas de generación solar
fotovoltaica y eólica, estos sistemas de generación están diseñados para funcionar casi de forma desatendida, es decir que no requiere
de una supervisión permanente de un profesional, pero esto no quiere decir que no requieran de una supervisión continua para
garantizar un correcto funcionamiento. Esto debido a que son sistemas que están expuesto a la intemperie, lo cual puede generar fallas
o problemas que van desde la limpieza en el caso de los paneles solares o que debido a las fallas eléctricas actúen las protecciones y el
sistema deje de operar por tiempos prolongados lo cual afecte la prestación de servicio y la vida útil de las baterías. con el fin de
garantizar un mejor desempeño de los sistemas de generación de energía con los que cuenta el centro de formación el objetivo del
proyecto es Desarrollar un sistema de supervisión y control para los sistemas de generación de energía, apoyado en IoT. Para esto se
busca desarrollar una plataforma de IOT acordes con las necesidades del Proyecto y las particularidades de conexión de a internet del
SENA. Para esto el proyecto realizara una caracterización del sistema de generación de energía con los que cuenta el centro de
formación, a partir del cual desarrollara un prototipo para monitorear cada uno de esto sistemas con el fin de medir: voltajes, corrientes,
potencia y energía. Adicionalmente se construirá una red Ethernet con la cual se busca la conexión de todos los prototipos de medición y
de esta forma implementar el IOT dentro de las instalaciones del centro, la red de IOT no solo busca integrar los prototipos para
monitorear los sistemas de generación sino todas las aplicaciones presentes y futuras que se desarrollen en el centro de formación en el
tema de IOT.
        </div>
    </div>
</div>